section {
    display: flex;
    width: 50%;
    justify-content: space-around;
    
}
article {
border-radius: 20px;

}
.art-1 {
background: beige;

}
.art-2 {
background: bisque;
}
.art-3 {
    background: pink;
    }